body {
  background-color: rgb(245, 245, 245);
  font-family: 'Poppins', sans-serif;
  color: #1B4332;
  font-size: 16px;
  line-height: 24px;
}

h1, h2{
  font-family: 'Roboto', sans-serif;
  line-height: 40px;
}

h1 {
  font-size: 32px;
  color: #2d6a4f;
  margin-top: 0px;
}

h2 {
  font-size: 24px;
  color: #40916c;
}

a {
  text-decoration: none;
  color: #95d5b2;
}

a:hover {
  color: #1B4332;
}

.container {
  width: 750px;
  margin: 0 auto;
}
@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}
.card-white {
  background-color: white;
  padding: 40px;
  margin: 20px 0;
  border-radius: 4px;
  box-shadow: 0 0 36px #b7e4c7;
}

.card-white > p {
  margin-bottom: 32px;
}

.img-circle {
  border-radius: 50%;
}

.txt-center {
  text-align: center;
}

.list-inline > li {
  display: inline-block;
  padding: 0 12px;
  font-size: 32px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
  margin-bottom: 0;
}

.btn-green {
  background-color: #95d5b2;
  color: white;
  border-radius: 4px;
  padding: 16px 24px;
}

.btn-green:hover {
  color: white;
  background-color: #1B4332;
}

.intro {
  padding-bottom: 56px;
}

.links > h2 {
  margin-top: 0;
}
